<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      医患管理系统
      <small>医生管理</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a routerLink="/index"><i class="fa fa-dashboard"></i>首页</a>
      </li>
      <li class="active">医生管理</li>
    </ol>

  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <div class="action">
      <button class="btn btn-info" *ngIf="operationPermissionMap && operationPermissionMap[2]"
              routerLink="/index/doctorManageAdd"><i class="fa fa-plus"></i>&ensp;添加
      </button>
      <!--无需批量删除-->
      <!--<button class="btn btn-danger" (click) = "onAllDelete()"><i class="fa fa-trash"></i>&ensp;删除</button>-->
    </div>
    <div class="row" *ngIf="operationPermissionMap && operationPermissionMap[1]">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="box-body">
            <div class="box box-info">
              <div class="box-header with-border">
                <a class="pull-right" (click)="queryCollapse($event)" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse-query">
                  收起查询条件
                  <i class='fa fa-angle-up'></i>
                </a>
              </div>
              <div id="collapse-query" class="collapse in">
                <div class="row ">
                  <div class="form-group col-sm-4">
                    <label class="col-sm-4 control-label">唯一标识</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control input-sm" [(ngModel)]="httpQuery.code" name="queryCode"
                             placeholder="唯一标识">
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="col-sm-4 control-label">姓名</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control input-sm" [(ngModel)]="httpQuery.name" name="queryName"
                             placeholder="姓名">
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="col-sm-4 control-label">手机</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control input-sm" [(ngModel)]="httpQuery.cellPhone"
                             name="cellPhone" placeholder="手机">
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="col-sm-4 control-label">邮箱</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control input-sm" [(ngModel)]="httpQuery.email" name="email"
                             placeholder="邮箱">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button class="btn btn-sm btn-info pull-right" (click)="onSearch()"><i class="fa fa-search"></i>&ensp;查询
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <!-- <h3 class="box-title">医生信息</h3> -->
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <!-- <th class="text-center">
                                      <input type="checkbox" [(ngModel)]="allCheck" (click)="onAllCheck()" name="allCheck">
                </th> -->
                <th class="text-center">唯一标识</th>
                <th class="text-center">姓名</th>
                <th class="text-center">手机</th>
                <th class="text-center">邮箱</th>
                <th class="text-center">拥有角色</th>
                <th class="text-center">备注</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">最后更新时间</th>
                <th></th>
              </tr>
              </thead>
              <tbody *ngIf='items'>
              <tr *ngFor=" let item of items">
                <!-- <td style="max-width:20px">
                                      <input type="checkbox" [(ngModel)]="item.isCheck" name="isCheck">
                </td> -->
                <td>{{item.Code}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.CellPhone}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.RoleNames}}</td>
                <td>{{item.Remark}}</td>
                <td>{{item.CreateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.LastUpdateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <div class="btn-group table-action">
                    <button type="button" class="btn btn-sm btn-success btn-flat">操作</button>
                    <button type="button" class="btn btn-sm btn-success btn-flat dropdown-toggle"
                            data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">操作</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a (click)="onQueryRoles(item.Id)" *ngIf="operationPermissionMap && operationPermissionMap[16]"
                           data-toggle="modal" data-target="#roles-modal">配置角色</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a (click)="onResetPassword(item.Id)"
                           *ngIf="operationPermissionMap &&operationPermissionMap[32]">重置密码</a>
                      </li>
                      <li>
                        <a (click)="onEdit(item.Id)" *ngIf="operationPermissionMap && operationPermissionMap[4]">修改</a>
                      </li>
                      <li>
                        <a (click)="onDelete(item.Id)" *ngIf="operationPermissionMap &&operationPermissionMap[8]">删除</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <ul class="meal-list">
              <li
                *ngFor="let meal of asyncMeals | async | paginate: { id: 'server', itemsPerPage: pagination.PageSize, currentPage: p, totalItems: pagination.DataCount }">
                {{ meal }}
              </li>
            </ul>

            <div class="has-text-centered">
              <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
              <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- 角色管理 -->
<div class="modal fade" id="roles-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">配置角色</h4>
      </div>
      <div class="modal-body text-center" style="height:300px">
        <div class="col-md-5" style="height: 100%">
          <h5 class="box-list-title">未配</h5>
          <div class="col-md-12" style="height:92%;border:1px solid #eee">
            <ul class="list-group" [dragula]='"first-bag"' [dragulaModel]='item'>
              <li class="list-group-item" [ngClass]="{select:item.IsSelect}" (click)="onSelect(item,$event)"
                  *ngFor="let item of notOwnedRoles" [attr.data-normal]="item.normal" [attr.data-roleId]="item.Id">
                {{item.FriendlyName}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 text-center flex">
          <button class="btn btn-default" (click)="onRight()"><i class="fa fa-angle-right"></i></button>
          <button class="btn btn-default" (click)="onLeft()"><i class="fa fa-angle-left"></i></button>
          <button class="btn btn-default" (click)="onAllRight()"><i class="fa fa-angle-double-right"></i></button>
          <button class="btn btn-default" (click)="onAllLeft()"><i class="fa fa-angle-double-left"></i></button>
        </div>
        <div class="col-md-5" style="height:100%">
          <h5 class="box-list-title">已配</h5>
          <div class="col-md-12" style="height:92%;border:1px solid #eee">
            <ul class="list-group" [dragula]='"first-bag"' [dragulaModel]='item'>
              <li class="list-group-item" [ngClass]="{select:item.IsSelect}" (click)="onSelect(item,$event)"
                  *ngFor="let item of ownedRoles" [attr.data-normal]="item.normal" [attr.data-roleId]="item.Id">
                {{item.FriendlyName}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" (click)="onSettingRoles()" data-dismiss="modal">保存</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
