<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      医患管理系统
      <small>订单管理</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/index"><i class="fa fa-dashboard"></i>首页</a></li>
      <li class="active">订单管理</li>
    </ol>

  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <div class="action">
      <button class="btn btn-info" routerLink="/index/addIndent"><i class="fa fa-plus"></i>&ensp;添加</button>
      <!--无需批量删除-->
      <!--<button class="btn btn-danger" (click) = "onAllDelete()"><i class="fa fa-trash"></i>&ensp;删除</button>-->
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="box-body">
            <div class="box box-info">
              <div class="box-header with-border">
                <a class="pull-right" (click)="queryCollapse($event)" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse-query">
                  收起查询条件
                  <i class='fa fa-angle-up'></i>
                </a>
              </div>
              <div id="collapse-query" class="collapse in">
                <div class="row ">
                  <div class="form-group col-sm-4">
                    <label class="col-sm-4 control-label">医生</label>
                    <div class="col-sm-8">
                      <ng-select #querySelect [options]="doctors" [allowClear]="true"></ng-select>
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="col-sm-4 control-label">客户姓名</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control input-sm" [(ngModel)]="httpQuery.customerName"
                             name="queryName" placeholder="姓名">
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="col-sm-4 control-label">客户手机号</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control input-sm" [(ngModel)]="httpQuery.customerCellphone"
                             name="cellPhone" placeholder="手机">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button class="btn btn-sm btn-info pull-right" (click)="onSearch()"><i class="fa fa-search"></i>&ensp;查询
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <!-- <h3 class="box-title">医生信息</h3> -->
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <!-- <th class="text-center">
                  <input type="checkbox" [(ngModel)]="allCheck" (click)="onAllCheck()" name="allCheck">
                </th> -->
                <th class="text-center">创建时间</th>
                <th class="text-center">订单号</th>
                <th class="text-center">客户姓名</th>
                <th class="text-center">客户手机号</th>
                <th class="text-center">医生姓名</th>
                <th class="text-center">总金额</th>
                <th class="text-center">支付方式</th>
                <th class="text-center">备注</th>
                <th class="text-center">最后更新时间</th>
                <th></th>
              </tr>
              </thead>
              <tbody *ngIf='items'>
              <tr *ngFor=" let item of items">
                <!-- <td style="max-width:20px">
                   <input type="checkbox" [(ngModel)]="item.isCheck" name="isCheck">
                </td> -->
                <td>{{item.CreateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.Number}}</td>
                <td>{{item.CustomerName}}</td>
                <td>{{item.CustomerCellPhone}}</td>
                <td>{{item.DoctorName}}</td>
                <td>{{item.TotalAmount}}</td>
                <td>{{item.PaymentName}}</td>
                <td>{{item.Remark}}</td>
                <td>{{item.LastUpdateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <div class="btn-group table-action">
                    <button type="button" class="btn btn-sm btn-success btn-flat">操作</button>
                    <button type="button" class="btn btn-sm btn-success btn-flat dropdown-toggle"
                            data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">操作</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a (click)="onDetails(item.Id)">查看</a>
                      </li>
                      <li>
                        <a (click)="onEdit(item.Id)">修改</a>
                      </li>
                      <li>
                        <a (click)="onDelete(item.Id)">删除</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <ul class="meal-list">
              <li
                *ngFor="let meal of asyncMeals | async | paginate: { id: 'servers', itemsPerPage: pagination.PageSize, currentPage: p, totalItems: pagination.DataCount }">
                {{ meal }}
              </li>
            </ul>

            <div class="has-text-centered">
              <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
              <pagination-controls (pageChange)="getPage($event)" id="servers"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
